Define an API

API is the acronym for *Application Programming Interface*, which is a server that you can use to retrieve and send data to using code.
When you use an application on your mobile phone, the application connects to the Internet and sends data to a server. The server then retrieves that data, interprets it, performs the necessary actions and sends it back to your phone. The application then interprets that data and presents you with the information you wanted in a readable way.

In [2]:
!pip install requests

Requirement already satisfied: requests in /Users/ada-eze/opt/anaconda3/lib/python3.9/site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ada-eze/opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/ada-eze/opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ada-eze/opt/anaconda3/lib/python3.9/site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ada-eze/opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)

In [3]:
import requests

In [4]:
res = requests.get('http://api.open-notify.org/astros.json')

In [5]:
print(res.status_code)#it shows us the status code directly

200

200 â€“ OK. The request was successful. Everything went okay, and the result has been returned.

In [6]:
print(res.text)

{"message": "success", "number": 14, "people": [{"craft": "ISS", "name": "Sergey Prokopyev"}, {"craft": "ISS", "name": "Dmitry Petelin"}, {"craft": "ISS", "name": "Frank Rubio"}, {"craft": "ISS", "name": "Nicole Mann"}, {"craft": "ISS", "name": "Josh Cassada"}, {"craft": "ISS", "name": "Koichi Wakata"}, {"craft": "ISS", "name": "Anna Kikina"}, {"craft": "Shenzhou 15", "name": "Fei Junlong"}, {"craft": "Shenzhou 15", "name": "Deng Qingming"}, {"craft": "Shenzhou 15", "name": "Zhang Lu"}, {"craft": "ISS", "name": "Stephen Bowen"}, {"craft": "ISS", "name": "Warren Hoburg"}, {"craft": "ISS", "name": "Sultan Alneyadi"}, {"craft": "ISS", "name": "Andrey Fedyaev"}]}

In [7]:
res.headers

{'Server': 'nginx/1.10.3', 'Date': 'Mon, 06 Mar 2023 09:00:46 GMT', 'Content-Type': 'application/json', 'Content-Length': '667', 'Connection': 'keep-alive', 'access-control-allow-origin': '*'}

In [8]:
#Extracting data from the  API using json
res_ = res.json()

res_

{'message': 'success',
 'number': 14,
 'people': [{'craft': 'ISS', 'name': 'Sergey Prokopyev'},
  {'craft': 'ISS', 'name': 'Dmitry Petelin'},
  {'craft': 'ISS', 'name': 'Frank Rubio'},
  {'craft': 'ISS', 'name': 'Nicole Mann'},
  {'craft': 'ISS', 'name': 'Josh Cassada'},
  {'craft': 'ISS', 'name': 'Koichi Wakata'},
  {'craft': 'ISS', 'name': 'Anna Kikina'},
  {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'},
  {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'},
  {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'},
  {'craft': 'ISS', 'name': 'Stephen Bowen'},
  {'craft': 'ISS', 'name': 'Warren Hoburg'},
  {'craft': 'ISS', 'name': 'Sultan Alneyadi'},
  {'craft': 'ISS', 'name': 'Andrey Fedyaev'}]}

In [10]:
res_['people']

[{'craft': 'ISS', 'name': 'Sergey Prokopyev'},
 {'craft': 'ISS', 'name': 'Dmitry Petelin'},
 {'craft': 'ISS', 'name': 'Frank Rubio'},
 {'craft': 'ISS', 'name': 'Nicole Mann'},
 {'craft': 'ISS', 'name': 'Josh Cassada'},
 {'craft': 'ISS', 'name': 'Koichi Wakata'},
 {'craft': 'ISS', 'name': 'Anna Kikina'},
 {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'},
 {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'},
 {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'},
 {'craft': 'ISS', 'name': 'Stephen Bowen'},
 {'craft': 'ISS', 'name': 'Warren Hoburg'},
 {'craft': 'ISS', 'name': 'Sultan Alneyadi'},
 {'craft': 'ISS', 'name': 'Andrey Fedyaev'}]

In [14]:
#Create a dataframe containing your final data from your obtained json data.

import pandas as pd

res_df = pd.json_normalize(res_['people'])
res_df

          craft              name
0           ISS  Sergey Prokopyev
1           ISS    Dmitry Petelin
2           ISS       Frank Rubio
3           ISS       Nicole Mann
4           ISS      Josh Cassada
5           ISS     Koichi Wakata
6           ISS       Anna Kikina
7   Shenzhou 15       Fei Junlong
8   Shenzhou 15     Deng Qingming
9   Shenzhou 15          Zhang Lu
10          ISS     Stephen Bowen
11          ISS     Warren Hoburg
12          ISS   Sultan Alneyadi
13          ISS    Andrey Fedyaev